@model IEnumerable<MTProject.Models.Trainer_Topics>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrainer.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.CreateAt)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Topic.TopicName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Topic.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Topic.CreateAt)
    </td>

</tr>
}

</table>
