@using MTProject.Models;
@model IEnumerable<MTProject.Models.Cours>

@{
    ViewBag.Title = "Manage Course";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
    <h2>Manage Courses</h2>
<p>
    @Html.ActionLink("Create New", "CreateCourses")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCategory.CategName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCategory.CategName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCourses", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsCourses", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCourses", new { id = item.Id })
            </td>
        </tr>
    }

</table>
