@model MTProject.Models.Cours

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cours</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Trainee_Course)
        @Html.HiddenFor(model => model.CourseCategory)


        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateAt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateAt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateAt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("AssignCourse", "Staff"))
{
    @Html.Hidden("CourseId", Model.Id)
    <div class="form-group">
        <div class="form-inline">
            @Html.DropDownList("Trainee", null, new { @class = "form-control" })
            <input type="submit" value="Assign" class="btn btn-success" />
        </div>
    </div>
}
            <table class="table">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        FullName
                    </th>
                    <th>
                        DoB
                    </th>
                    <th>
                        Education
                    </th>
                    <th>
                        ProLanguage
                    </th>
                    <th>
                        ToeicScore
                    </th>
                    <th>
                        Experience
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Function
                    </th>
                </tr>
                @foreach (var item in ViewBag.TraineeTable)
                {
                    <tr>
                        <td>
                            @item.Trainee.Id
                        </td>
                        <td>
                            @item.Trainee.FullName
                        </td>
                        <td>
                            @item.Trainee.DoB
                        </td>
                        <td>
                            @item.Trainee.Education
                        </td>
                        <td>
                            @item.Trainee.ProLanguage
                        </td>
                        <td>
                            @item.Trainee.ToeicScore
                        </td>
                        <td>
                            @item.Trainee.Experience
                        </td>
                        <td>
                            @item.Trainee.Location
                        </td>
                        <td>
                            @item.Trainee.Department
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "RemoveTrainee", "Staff", new { trainee_course_id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.ActionLink("Back to List", "Courses")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
