@model IEnumerable<MTProject.Models.Trainer>
@{
    ViewBag.Title = "CreateTrainer";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
    <h2>Manage Trainer</h2>
    <button class="btn btn-success">
        @Html.ActionLink("Create New", "CreateTrainer")
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Types)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingPlace)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingPlace)
            </td>
            <td>
                <button class="btn btn-danger">
                    @Html.ActionLink("Edit", "EditTrainer", new { id = item.Id })
                </button>
                
                @*<button class="btn btn-default">
                    @Html.ActionLink("Details", "DetailsTrainer", new { id = item.Id })
                </button>*@
                |
                <button class="btn btn-warning">
                    @Html.ActionLink("Delete", "DeleteTrainer", new { id = item.Id })
                </button>
            </td>
        </tr>
    }

</table>
