@model IEnumerable<MTProject.Models.Trainee_Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrainee.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CreateAt)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Cours.CourseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cours.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cours.CreateAt)
    </td>

</tr>
}
