<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My MTProject Application</title>
    <link rel="shortcut icon"
          href="https://www.gstatic.com/devrel-devsite/prod/vc8928e4803ba00823d2deb39c327db4919db629f1ecb648b587b35b95297bc3b/developers/images/favicon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/StyleAdmin.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8aa30f2773.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="#" class="logo">
        </a>
        <div>
            <button class="header__button nav-btn-js" type="button"></button>
            <nav class="header__nav nav-js" data-active="false">
                <a href="#" class="logo logo--white">
                    
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <ul class="header__menu">
                            <li>@Html.ActionLink("ManageAccount", "ManageAccount", "Admin", null, new { @class = "styleadmins" })</li>
                            <li>@Html.ActionLink("SignOut", "SignOut", "Account", null, new { @class = "styleadmins" })</li>
                        </ul>
                        </ul>
                </div>
                
            </nav>
        </div>
    </header>

    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name: "Guest")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/JavaScriptAdmin.js"></script>
</body>
</html>
